@import '~semantic-ui-css/semantic.css';

.editorContainer {
    margin: 5px;
    overflow: hidden;
}
.editorPaneContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 60px;
}


.panelsVertical {
    flex-grow: 20;
    font-size: 30px;
    height: 75vh;
    margin: 6px;
    background-color: white;
    transition: all .3s ease;
    border-radius: 10px 10px 0 0;
    border: 2px solid black;
    border-top: 3px solid black;
    box-shadow: 0px 0px 0px 3px #1f1e1f;
}

.panelsVerticalCollapsed {
    flex-grow: .1;
    /*max-width: 34px;*/
    font-size: 30px;
    height: 75vh;
    margin: 6px;
    background-color: #2f2e2f;
    transition: all .3s ease;
    border-radius: 8px;
    border: 2px solid black;
    border-top: 3px solid black;
    box-shadow: 0px 0px 0px 3px #1f1e1f;
}


.bodyText {
    margin: 20px;
}

.toolbarBg {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin-top: -1px;
    background-color: #2f2e2f;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 1px black
}

.editorCollapseButton {
    display: inline-block;
    width: 37px;
    padding-top: 12px;
    text-align: center;
    border-radius: 8px;
    margin: 5px 0;
    transition: all .3s ease;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    text-align: center;
    background-color: #2e2d2e;
    color: #ffe77b;
}

.editorCollapseButton:hover {
    background-color: #3f3e3f;
}
.editorCollapseButton:active {
    background-color: #2e2d2e;
    box-shadow: none;
}

.editorRefreshButton {
    display: inline-block;
    width: 37px;
    padding-top: 12px;
    text-align: center;
    border-radius: 8px;
    margin: 5px 0;
    transition: all .3s ease;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    text-align: center;
    color: #ffe77b;
    background-color: #2e2d2e;
}

.editorRefreshButton:hover {
    background-color: #3f3e3f;
}
.editorRefreshButton:active {
    background-color: #2e2d2e;
    box-shadow: none;
}

.textHolderCollapsed{
    text-align: center;
    margin-top: 80px;
    max-width: 45px;

}

.closedText {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px black;
    transform: rotate(90deg);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin: auto;
}

.detailsBox{
    width: 99%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 6px;
    background-color: #2f2e2f;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 0px 3px #373537;
    flex-wrap: wrap;
}

.pairHolder{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.boxDetail1{
    flex-grow: 1;
    vertical-align: top;
}

.boxDetail1 h1{
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0px;
    vertical-align: top;
}

.boxDetail1 p{
    font-size: 10px;
    margin: 5px 0 0 1px;
    word-spacing: 4px;
}

.centerInBox{
    margin: 0 auto;
    text-align: center;
}
.boxDetail2{
    flex-grow: 1;
    vertical-align: top;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}

.boxDetail2 p{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 7px 0 0;
}

.boxDetail3{
    flex-grow: 1;
    vertical-align: top;
    border-right: 1px solid black;
    text-align: center;

}

.boxDetail3 p{
    text-align: center;
    font-size: 14px;
    margin: 6px 0 0 0;
}

.boxDetail4{
    flex-grow: 1;
    vertical-align: top;
    padding-left: 20px;
}

.boxDetail4 p{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 0px;
    vertical-align: top;
    font-size: 12px;
    margin: 0;
    text-align: left;
}

.boxDetail4 h3{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    vertical-align: top;
    text-transform: capitalize;
    text-align: left;
}

.ownerFace {
    display: inline-block;
    width: 70px;
    padding-top: 70px;
    margin-right: 20px;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
}

.buttonHolder{
    display: inline-block;
    margin: 10px 5px 0 5px;

}

.description{
    background-color: #141515;
    width: 100%;
    padding: 10px;
    margin: 10px;
    color: white;
}

.description p{
    font-size: 12px;
    margin: 0px;
}

.description h2{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 1300px)  {
    .pairHolder{
        border-bottom: 1px solid black;
        padding: 8px;
    }

    .boxDetail2{
        border: none;
    }
    .boxDetail3{
        border: none;
    }
}



