@import '~semantic-ui-css/semantic.css';

body {
	background-color: black;
}

/*User HoneycombComponent*/

.editorContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	padding: 5px;
}

.panelsVertical {
	flex-grow: 1;
	font-size: 30px;
	height: 95vh;
	margin: 5px;
	background-color: white;
	transition: all .2s ease-in;

}

.centerPanelVertical {
	flex-grow: 2;
	font-size: 30px;
	height: 95vh;
	margin: 5px;
	background-color: white;
	transition: all .2s ease-in;
	padding: 10px
}

.panelsVerticalCollapsed {
	max-width: 34px;
	font-size: 30px;
	height: 95vh;
	margin: 5px;
	background-color: #2f2e2f;
}

.editorCollapseButton{
	display: inline-block;
	color: white;
	width: 34px;
	padding-top: 8px;
	text-align: center;
	transition: all .2s ease-in;
}

.closedText{
	color: white;
	font-size: 20px;
	margin: 2px;
}
