@import '~semantic-ui-css/semantic.css';

body {
	background-color: black;
}

/*User HoneycombComponent*/
.honeyCombComponent {
	position: relative;
	width: 300px;
	height: 173.21px;
	margin: 86.60px 0;
	background-size: auto 347px;
	background-position: center;
}

.honeyCombTop,
.honeyCombBottom {
	position: absolute;
	z-index: 1;
	width: 212.13px;
	height: 212.13px;
	overflow: hidden;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background: inherit;
	left: 43.93px;
}

.honeyCombTop:after,
.honeyCombBottom:after {
	content: "";
	position: absolute;
	width: 300px;
	height: 173.20508075688775px;
	-webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
	-ms-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
	transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	background: inherit;
}

.honeyCombTop {
	top: -106.0660px;
}

.honeyCombTop:after {
	background-position: center top;
}

.honeyCombBottom {
	bottom: -106.0660px;
}

.honeyCombBottom:after {
	background-position: center bottom;
}

.honeyCombComponent:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	width: 300px;
	height: 173.2051px;
	z-index: 2;
	background: inherit;
}

.userGrid {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.evenGrid {
	display: flex;
	margin-top: -85.5px;
}

.oddGrid {
	display: flex;
	position: relative;
	left: 150.3px;
	margin-top: -85.5px;
}

.hiddenText {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	height: 345px;
}

.HivePage {
	width: 100vw;
	height: 100vh;
	padding-top: 80px;
}

.toggleComponents {
	display: flex;
	justify-content: flex-end;
	padding-right: 100px;
}

/*SignUp Page*/

.honeyCombComponentAngled {
	float: left;
	height: 300px;
	width: 173.21px;
	background-color: white;
}

.honeyCombTopAngled {
	float: left;
	border-right: 86.6px solid white;
	border-top: 150px solid transparent;
	border-bottom: 150px solid transparent;
}
.honeyCombBottomAngled {
	float: left;
	border-left: 86.6px solid white;
	border-top: 150px solid transparent;
	border-bottom: 150px solid transparent;
}

.signupForm {
	margin: auto;
	margin-top: 150px;
	height: 700px;
	width: 700px;
}

.signupOne {
	margin-top: 20px;
	position: relative;
}
.signupTwo {
	position: relative;
	top: 155px;
	left: -75px;
}
.signupThree {
	position: relative;
	bottom: -12px;
}

.SignupButton {
	position: relative;
	right: -370px;
	bottom: 74px;
}

.ImageUpload {
	display: flex;
	height: 20px;
	margin-top: 50px;
	width: 100%;
	justify-content: center;
}

.signupImageUpload {
	height: 50px;
	padding: 5px;
}
