@import '~semantic-ui-css/semantic.css';
/*User HoneycombComponent*/
.userComponent {
	position: relative;
	width: 300px;
	height: 173.21px;
	margin: 86.60px 0;
	background-size: auto 346.4102px;
	background-position: center;
}

.userTop,
.userBottom {
	position: absolute;
	z-index: 1;
	width: 212.13px;
	height: 212.13px;
	overflow: hidden;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background: inherit;
	left: 43.93px;
}

.userTop:after,
.userBottom:after {
	content: "";
	position: absolute;
	width: 300.0000px;
	height: 173.20508075688775px;
	-webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
	-ms-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
	transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	background: inherit;
}

.userTop {
	top: -106.0660px;
}

.userTop:after {
	background-position: center top;
}

.userBottom {
	bottom: -106.0660px;
}

.userBottom:after {
	background-position: center bottom;
}

.userComponent:after {
	content: "";
	position: absolute;
	top: 0.0000px;
	left: 0;
	width: 300.0000px;
	height: 173.2051px;
	z-index: 2;
	background: inherit;
}

.userGrid {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	margin: 30px auto;
}

.evenGrid {
	display: flex;
}

.oddGrid {
	display: flex;
	position: relative;
	left: 151px;
}

.hiddenText {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	height: 345px;
}
